spring:
  application:
    name: toastit_v2

  profiles:
    active: dev

  jpa:
    show-sql: true

    hibernate:
      ddl-auto: update

    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 500
        order_inserts: true
        order_updates: true

  webflux:
    problemdetails:
      enabled: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GMAIL_USERNAME}
    password: ${GMAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          timeout: 5000
          starttls:
            enable: true

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    groups-order: desc
    tags-sorter: alpha
    operations-sorter: method
    display-request-duration: true
    disable-swagger-default-url: true

  api-docs:
    path: /v2/toastit/docs

  show-actuator: true
  default-consumes-media-type: application/json
  default-produces-media-type: application/json

cloud:
  aws:
    credentials:
      instance-profile: false
      accessKey: ${AWS_ACCESS_KEY}
      secretKey: ${AWS_SECRET_KEY}

    s3:
      bucket: ${AWS_BUCKET_NAME}

    region:
      auto: false
      static: ap-northeast-2

    stack:
      auto: false

server:
  servlet:
    context-path: /api

management:
  endpoints:
    web:
      exposure:
        include: prometheus, health, info

  metrics:
    tags:
      application: ${spring.application.name}
